on:
  workflow_dispatch:
  schedule:
  - cron: 0 6 * * 1
  push:
    branches:
    - main
    paths:
    - .github/workflows/check-for-new-releases.yml

name: Check for new releases of dependencies
jobs:
  dependency_releases:
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Check releases
      shell: cmd
      run: CheckReleases.cmd
